<template>
    <div class="main-view">
        <div class="main-view__left-side">
            <list-of-edges-view :nodes="nodes" :edges="edges">
            </list-of-edges-view>

            <adjency-list-view :nodes="nodes" :edges="edges">
            </adjency-list-view>

            <adjency-matrix-view :nodes="nodes" :edges="edges">
            </adjency-matrix-view>

            <weight-matrix-view :nodes="nodes" :edges="edges">
            </weight-matrix-view>

            <incidence-matrix-view :nodes="nodes" :edges="edges">
            </incidence-matrix-view>
        </div>

        <label-edit-popup v-if="nodeEdit"
                          @cancel="nodeEditCancel" @save="nodeEditSave"
                          :label="editLabel">
        </label-edit-popup>
        <label-edit-popup v-if="edgeEdit"
                          @cancel="edgeEditCancel" @save="edgeEditSave"
                          :label="editLabel">
        </label-edit-popup>
        <div class="main-view__right-side" ref="graph-view"></div>
    </div>
</template>

<script>
  import {remote} from 'electron'
  import fs from 'fs'
  import vis from 'vis'
  import Vue from 'vue'
  import LabelEditPopup from 'components/LabelEditPopup'
  import ListOfEdgesView from 'components/ListOfEdgesView'
  import AdjencyListView from 'components/AdjencyListView'
  import AdjencyMatrixView from 'components/AdjencyMatrixView'
  import WeightMatrixView from 'components/WeightMatrixView'
  import IncidenceMatrixView from 'components/IncidenceMatrixView'

  const eventHub = new Vue()

  export default {
    components: {
      LabelEditPopup,
      ListOfEdgesView,
      AdjencyListView,
      AdjencyMatrixView,
      WeightMatrixView,
      IncidenceMatrixView,
    },
    data: () => ({
      nodes: [],
      edges: [],
      container: '',
      counter: 0,
      nodeEdit: false,
      edgeEdit: false,
      editLabel: '',
      editCallback: null,
      editData: {},
    }),
    mounted() {
      this.initVis()
      this.initMenu()
    },
    created() {
      eventHub.$on('add-node', this.addNode)
      eventHub.$on('edit-node', this.editNode)
      eventHub.$on('delete-node', this.deleteNode)
      eventHub.$on('add-edge', this.addEdge)
      eventHub.$on('edit-edge', this.editEdge)
      eventHub.$on('delete-edge', this.deleteEdge)
    },
    beforeDestroy: function () {
      eventHub.$off('add-node', this.addNode)
      eventHub.$off('edit-node', this.editNode)
      eventHub.$off('delete-node', this.deleteNode)
      eventHub.$off('add-edge', this.addEdge)
      eventHub.$off('edit-edge', this.editEdge)
      eventHub.$off('delete-edge', this.deleteEdge)
    },
    methods: {
      addNode(nodeData) {
        nodeData.label = this.counter++
        this.nodes.push(nodeData)
      },
      deleteNode(deleteData) {
        this.syncNodes(deleteData.nodes)
        this.syncEdges(deleteData.edges)
      },
      addEdge(edgeData) {
        edgeData.label = '0'
        this.edges.push(edgeData)
      },
      deleteEdge(deleteData) {
        this.syncNodes(deleteData.nodes)
        this.syncEdges(deleteData.edges)
      },
      syncNodes(idsToDelete) {
        this.nodes = this.nodes.filter(node => idsToDelete.indexOf(node.id) === -1)
      },
      syncEdges(idsToDelete) {
        this.edges = this.edges.filter(edge => idsToDelete.indexOf(edge.id) === -1)
      },
      editNode(nodeData, callback) {
        this.nodeEdit = true
        this.editLabel = nodeData.label
        this.editCallback = callback
        this.editData = nodeData
      },
      nodeEditCancel() {
        this.nodeEdit = false
        this.editCallback(null)
      },
      nodeEditSave(newLabel) {
        this.nodeEdit = false
        this.editData.label = newLabel
        this.editCallback(this.editData)
        this.nodes.forEach(node => {
          if (node.id === this.editData.id) {
            node.label = this.editData.label
          }
        })
      },
      editEdge(edgeData, callback) {
        this.edgeEdit = true
        this.editLabel = edgeData.label
        this.editCallback = callback
        this.editData = edgeData
      },
      edgeEditCancel() {
        this.edgeEdit = false
        this.editCallback(null)
      },
      edgeEditSave(newLabel) {
        this.edgeEdit = false
        this.editData.label = newLabel

        if (/^targetNode/.test(this.editData.to)) {
          this.editData.to = this.editData.from
        }

        this.editCallback(this.editData)
        this.edges.forEach(edge => {
          if (edge.id === this.editData.id) {
            edge.label = this.editData.label
          }
        })
      },
      initVis() {
        const options = {
          manipulation: {
            enabled: true,
            initiallyActive: true,
            addNode: (nodeData, callback) => {
              eventHub.$emit('add-node', nodeData)
              callback(nodeData)
            },
            editNode: (nodeData, callback) => {
              eventHub.$emit('edit-node', nodeData, callback)
            },
            addEdge: (edgeData, callback) => {
              eventHub.$emit('add-edge', edgeData)
              callback(edgeData)
            },
            editEdge: (edgeData, callback) => {
              eventHub.$emit('edit-edge', edgeData, callback)
            },
            deleteNode: (deleteData, callback) => {
              eventHub.$emit('delete-node', deleteData)
              callback(deleteData)
            },
            deleteEdge: (deleteData, callback) => {
              eventHub.$emit('delete-edge', deleteData)
              callback(deleteData)
            },
          },
          nodes: {
            physics: false,
          },
          edges: {
            arrows: 'to',
          },
        }

        this.container = this.$refs['graph-view']

        /* eslint-disable no-new */
        window.graph = new vis.Network(this.container, {
          nodes: [],
          edges: [],
        }, options)
      },
      initMenu() {
        const save = this.save
        const load = this.load

        const template = [
          {
            label: 'File',
            submenu: [
              {
                label: 'Save',
                click: save,
              },
              {
                label: 'Load',
                click: load,
              },
            ],
          },
        ]

        const Menu = remote.Menu
        const menu = Menu.buildFromTemplate(template)
        Menu.setApplicationMenu(menu)
      },
      save() {
        const dialog = remote.dialog
        const path = dialog.showSaveDialog({})

        if (path) {
          try {
            fs.writeFileSync(
              path,
              JSON.stringify({
                nodes: this.nodes,
                edges: this.edges,
                counter: this.counter,
              }),
              'utf-8'
            )
          } catch (e) {
            alert('Failed to save the file!')
          }
        }
      },
      load() {
        const dialog = remote.dialog
        const path = dialog.showOpenDialog({properties: ['openFile']})

        if (path) {
          let content = ''

          try {
            content = fs.readFileSync(path[0], {encoding: 'utf-8'})
          } catch (e) {
            console.log(e)
            alert('Failed to read the file!')
            return
          }

          try {
            const json = JSON.parse(content)
            this.nodes = json.nodes
            this.edges = json.edges
            this.counter = json.counter
          } catch (e) {
            alert('Invalid file')
            return
          }
        }
      },
    },
    watch: {
      nodes: function () {
        window.graph.setData({nodes: this.nodes, edges: this.edges})
      },
      edges: function () {
        window.graph.setData({nodes: this.nodes, edges: this.edges})
      },
    },
  }
</script>

<style>
    @import url(~vis/dist/vis.css);

    .main-view__right-side {
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        border: 1px solid lightgray;
    }

    .main-view__left-side {
        width: 50%;
        padding: 10px;
        overflow-x: auto;
    }

    .graph-view {
        margin-bottom: 10px;
    }
</style>
