<template>
    <div class="list-of-edges-view graph-view">
        <h2>List Of Edges</h2>

        <table>
            <tbody>
            <tr>
                <td>r</td>
                <td v-for="edge in edges">{{ getNodeById(edge.from).label }}
                </td>
            </tr>
            <tr>
                <td>t</td>
                <td v-for="edge in edges">{{ getNodeById(edge.to).label }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
  export default {
    props: {
      nodes: {
        type: Array,
        required: true,
      },
      edges: {
        type: Array,
        required: true,
      },
    },
    methods: {
      getNodeById(id) {
        return this.nodes.find(node => node.id === id)
      },
    },
  }
</script>

<style scoped>
    table, td {
        border: 1px solid grey;
    }

    table {
        border-collapse: collapse;
    }

    td {
        padding: 5px;
    }

    td:first-child {
        font-weight: bold;
    }
</style>
