<template>
    <div class="incidence-matrix-view graph-view">
        <h2>Incidence Matrix</h2>

        <table>
            <thead>
            <tr>
                <th></th>
                <th v-for="edge in edges">{{ getNodeById(edge.from).label }}/{{ getNodeById(edge.to).label }}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="node in nodes">
                <td>{{ node.label }}</td>
                <td v-for="number in getMatrixRow(node.id)">
                    {{ number }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
  export default {
    props: {
      nodes: {
        type: Array,
        required: true,
      },
      edges: {
        type: Array,
        required: true,
      },
    },
    methods: {
      getNodeById(id) {
        return this.nodes.find(node => node.id === id)
      },
      getMatrixRow(id) {
        return this.edges.map(edge => this.getNumber(id, edge))
      },
      getNumber(nodeId, edge) {
        if (edge.from === nodeId) {
          return '+1'
        } else if (edge.to === nodeId) {
          return '-1'
        }

        return '0'
      },
    },
  }
</script>

<style scoped>
    table, td, th {
        border: 1px solid grey;
    }

    table {
        border-collapse: collapse;
    }

    td, th {
        padding: 5px;
    }

    td:first-child {
        font-weight: bold;
    }
</style>
