<template>
    <div class="adjency-list-view graph-view">
        <h2>Adjency List</h2>

        <table>
            <thead>
            <tr>
                <th>Node</th>
                <th>Adjacent nodes</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="node in nodes">
                <td>{{ node.label }}</td>
                <td>{{ getAdjacentNodes(node.id) }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
  export default {
    props: {
      nodes: {
        type: Array,
        required: true,
      },
      edges: {
        type: Array,
        required: true,
      },
    },
    methods: {
      getAdjacentNodes(id) {
        let adjacentNodes = []

        for (const edge of this.edges) {
          if (edge.from === id) {
            adjacentNodes.push(edge.to)
          }

          if (edge.to === id) {
            adjacentNodes.push(edge.from)
          }
        }

        // Remove duplicates.
        adjacentNodes = adjacentNodes.filter((v, i, a) => a.indexOf(v) === i)

        // Remove self.
        const selfIndex = adjacentNodes.indexOf(id)
        if (selfIndex > -1) {
          adjacentNodes.splice(selfIndex, 1)
        }

        // Get label by id.
        const labels = adjacentNodes.map(nodeId => this.getNodeById(nodeId).label)

        return labels.join(', ')
      },
      getNodeById(id) {
        return this.nodes.find(node => node.id === id)
      },
    },
  }
</script>

<style scoped>
    table, td, th {
        border: 1px solid grey;
    }

    table {
        border-collapse: collapse;
    }

    td, th {
        padding: 5px;
    }
</style>
