<template>
    <div class="adjency-matrix-view graph-view">
        <h2>Adjency Matrix</h2>

        <table>
            <thead>
            <tr>
                <th></th>
                <th v-for="node in nodes">{{ node.label }}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="node in nodes">
                <td>{{ node.label }}</td>
                <td v-for="isAdjacent in getMatrixRow(node.id)">
                    {{ +isAdjacent }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
  export default {
    props: {
      nodes: {
        type: Array,
        required: true,
      },
      edges: {
        type: Array,
        required: true,
      },
    },
    methods: {
      getMatrixRow(id) {
        return this.nodes.map(node => this.isTwoNodesConnected(id, node.id))
      },
      isTwoNodesConnected(id1, id2) {
        return this.edges.some(edge => {
          return edge.to === id1 && edge.from === id2
            || edge.to === id2 && edge.from === id1
        })
      },
    },
  }
</script>

<style scoped>
    table, td, th {
        border: 1px solid grey;
    }

    table {
        border-collapse: collapse;
    }

    td, th {
        padding: 5px;
    }

    td:first-child {
        font-weight: bold;
    }
</style>
