<template>
    <div class="label-edit-popup">
        <h3>Edit label</h3>
        <label for="label-edit-popup-label">Label</label>
        <input id="label-edit-popup-label" v-model="newLabel" autofocus>
        <br>
        <br>
        <input type="button" value="Save" @click="save">
        <input type="button" value="Cancel" @click="cancel">
    </div>
</template>

<script>
  export default {
    props: {
      label: {
        required: true,
      },
    },
    data: function () {
      return {
        newLabel: this.label,
      }
    },
    methods: {
      save() {
        this.$emit('save', this.newLabel)
      },
      cancel() {
        this.$emit('cancel')
      },
    },
  }
</script>

<style>
    .label-edit-popup {
        position: absolute;
        top: 45%;
        left: 45%;
        z-index: 299;
        width: 250px;
        height: 120px;
        background-color: #f9f9f9;
        border-style: solid;
        border-width: 3px;
        border-color: #5394ed;
        padding: 10px;
        text-align: center;
    }
</style>
